@font-face {
  font-family: "super_enjoy";
  src: url(fonts/Super\ Enjoy.woff2);
}

@font-face {
  font-family: "creato_display";
  src: url(fonts/CreatoDisplay-Regular.woff2);
}

main {
  background-color: #708e60;
}

.categories_header {
  text-align: center;
  margin: 50px;
}

.categories_header h1 {
  font-family: "super_enjoy";
  font-size: 150px;
  font-weight: 300;
  color: white;
}

.categories_header p {
  font-family: "creato_display";
  color: white;
}

.cards_overblik {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #324536;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 150px;
}

.cards img {
  width: 300px;
  height: auto;
}

.mushrooms,
.plants {
  display: grid;
  font-family: "super_enjoy";
  color: white;
  text-transform: uppercase;
}
