@font-face {
  font-family: "super_enjoy";
  src: url(fonts/Super\ Enjoy.woff2);
}

@font-face {
  font-family: "creato_display";
  src: url(fonts/CreatoDisplay-Regular.woff2);
}

main {
  background-color: #708e60;
  background-image: url(images/pattern.svg);
  background-size: 10%;
  background-blend-mode: soft-light;
}

.categories_header {
  text-align: center;
  margin: 50px;
}

.categories_header h1 {
  font-family: "super_enjoy";
  font-size: 130px;
  font-weight: 300;
  color: white;
}

.categories_header p {
  font-family: "creato_display";
  color: white;
}

.cards_overblik {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #324536;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 150px;
  margin-right: -10rem;
  margin-left: -10rem;
}

.cards img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
}

.cards {
  display: grid;
  place-items: center;
  font-family: "super_enjoy";
  color: white;
  text-transform: uppercase;
  font-size: 45px;
}

a:hover {
  img {
    opacity: 70%;
    transition: 0.3s;
  }
}

.cards h2 {
  z-index: 10;
}

.cards h2,
.cards img {
  grid-area: 1 / 1;
}

a {
  text-decoration: none;
}
